In [ ]:
#https://www.geeksforgeeks.org/python-list-comprehension-using-if-else/
l1=[11,22,33,44,55]
l2=[]
for i in l1:
    if i%2==0:
     l2.append(i/10)
    else:
       l2.append(i)
l2

[11, 2.2, 33, 4.4, 55]

In [9]:
l2=[ i/10 for i in l1 if i%2==0]
l2

[2.2, 4.4]

In [10]:
l2=[ i/10 if i%2==0 else i for i in l1 ]
l2

[11, 2.2, 33, 4.4, 55]

In [4]:
import yfinance as yf
data=yf.download('TSLA')
# print(data)
# print(data.columns)
# l1=[]
# for i in data.columns:
#     l1.append(i[0])
# data.columns=l1
# print(data)
data.columns=[i[0] for i in data.columns]
data

[*********************100%***********************]  1 of 1 completed

                 Close        High         Low        Open     Volume
Date
2010-06-29    1.592667    1.666667    1.169333    1.266667  281494500
2010-06-30    1.588667    2.028000    1.553333    1.719333  257806500
2010-07-01    1.464000    1.728000    1.351333    1.666667  123282000
2010-07-02    1.280000    1.540000    1.247333    1.533333   77097000
2010-07-06    1.074000    1.333333    1.055333    1.333333  103003500
...                ...         ...         ...         ...        ...
2025-05-12  318.380005  322.209991  311.500000  321.989990  112826700
2025-05-13  334.070007  337.589996  316.799988  320.000000  136992600
2025-05-14  347.679993  350.000000  337.000000  342.500000  136997300
2025-05-15  342.820007  346.140015  334.720001  340.339996   97882600
2025-05-16  349.980011  351.619995  342.329987  346.239990   93811800

[3745 rows x 5 columns]

In [14]:
import pandas as pd
data=pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[2]
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [16]:
data['Date added']=pd.to_datetime(data['Date added'])
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     datetime64[ns]
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: datetime64[ns](1), object(6)
memory usage: 1.8+ KB

In [18]:
data['new']=[i.year for i in data['Date added']]
data['Industry']=[i.upper() for i in data['Industry']]
data

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting,new
0,3M,NYSE,MMM,CONGLOMERATE,1976-08-09,As Minnesota Mining and Manufacturing,2.11%,1976
1,American Express,NYSE,AXP,FINANCIAL SERVICES,1982-08-30,NaN,4.37%,1982
2,Amgen,NASDAQ,AMGN,BIOPHARMACEUTICAL,2020-08-31,NaN,3.89%,2020
3,Amazon,NASDAQ,AMZN,RETAILING,2024-02-26,NaN,3.21%,2024
4,Apple,NASDAQ,AAPL,INFORMATION TECHNOLOGY,2015-03-19,NaN,3.25%,2015
5,Boeing,NYSE,BA,AEROSPACE AND DEFENSE,1987-03-12,NaN,2.46%,1987
6,Caterpillar,NYSE,CAT,CONSTRUCTION AND MINING,1991-05-06,NaN,5.13%,1991
7,Chevron,NYSE,CVX,PETROLEUM INDUSTRY,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14%,2008
8,Cisco,NASDAQ,CSCO,INFORMATION TECHNOLOGY,2009-06-08,NaN,0.83%,2009
9,Coca-Cola,NYSE,KO,DRINK INDUSTRY,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88%,1987
10,Disney,NYSE,DIS,BROADCASTING AND ENTERTAINMENT,1991-05-06,NaN,1.55%,1991
11,Goldman Sachs,NYSE,GS,FINANCIAL SERVICES,2013-09-23,NaN,8.84%,2013
12,Home Depot,NYSE,HD,HOME IMPROVEMENT,1999-11-01,NaN,5.67%,1999
13,Honeywell,NASDAQ,HON,CONGLOMERATE,2020-08-31,AlliedSignal and Honeywell,3.07%,2020
14,IBM,NYSE,IBM,INFORMATION TECHNOLOGY,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54%,1979
15,Johnson & Johnson,NYSE,JNJ,PHARMACEUTICAL INDUSTRY,1997-03-17,NaN,2.09%,1997
16,JPMorgan Chase,NYSE,JPM,FINANCIAL SERVICES,1991-05-06,NaN,3.67%,1991
17,McDonald's,NYSE,MCD,FOOD INDUSTRY,1985-10-30,NaN,3.97%,1985
18,Merck,NYSE,MRK,PHARMACEUTICAL INDUSTRY,1979-06-29,NaN,1.35%,1979
19,Microsoft,NASDAQ,MSFT,INFORMATION TECHNOLOGY,1999-11-01,NaN,5.68%,1999
20,Nike,NYSE,NKE,CLOTHING INDUSTRY,2013-09-23,NaN,1.07%,2013
21,Nvidia,NASDAQ,NVDA,INFORMATION TECHNOLOGY,2024-11-08,NaN,1.71%,2024
22,Procter & Gamble,NYSE,PG,FAST-MOVING CONSUMER GOODS,1932-05-26,NaN,2.29%,1932
23,Salesforce,NYSE,CRM,INFORMATION TECHNOLOGY,2020-08-31,NaN,4.70%,2020
24,Sherwin-Williams,NYSE,SHW,SPECIALTY CHEMICALS,2024-11-08,NaN,5.00%,2024
25,Travelers,NYSE,TRV,INSURANCE,2009-06-08,NaN,3.41%,2009
26,UnitedHealth Group,NYSE,UNH,MANAGED HEALTH CARE,2012-09-24,NaN,7.47%,2012
27,Verizon,NYSE,VZ,TELECOMMUNICATIONS INDUSTRY,2004-04-08,NaN,0.54%,2004
28,Visa,NYSE,V,FINANCIAL SERVICES,2013-09-23,NaN,4.70%,2013
29,Walmart,NYSE,WMT,RETAILING,1997-03-17,NaN,1.35%,1997