In [22]:
import pandas as pd
data1=pd.read_html('https://en.wikipedia.org/wiki/Dow_Jones_Industrial_Average')[2]
data1

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.11%
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.37%
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89%
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21%
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25%
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,2.46%
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13%
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14%
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.83%
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88%
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.55%
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.84%
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.67%
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07%
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54%
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.09%
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.67%
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,3.97%
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.35%
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.68%
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,1.07%
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71%
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.29%
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70%
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08,NaN,5.00%
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.41%
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.47%
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.54%
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,4.70%
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.35%

In [23]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     object
dtypes: object(7)
memory usage: 1.8+ KB

In [4]:
a='1.35%'
float(a.replace('%',''))

1.35

In [11]:
l1=[]
for i in data1['Index weighting']:
    l1.append(float(i.replace('%',"")))
data1['Index weighting']=l1
data1

,Company,Exchange,Symbol,Industry,Date added,Notes,Index weighting
0,3M,NYSE,MMM,Conglomerate,1976-08-09,As Minnesota Mining and Manufacturing,2.11
1,American Express,NYSE,AXP,Financial services,1982-08-30,NaN,4.37
2,Amgen,NASDAQ,AMGN,Biopharmaceutical,2020-08-31,NaN,3.89
3,Amazon,NASDAQ,AMZN,Retailing,2024-02-26,NaN,3.21
4,Apple,NASDAQ,AAPL,Information technology,2015-03-19,NaN,3.25
5,Boeing,NYSE,BA,Aerospace and defense,1987-03-12,NaN,2.46
6,Caterpillar,NYSE,CAT,Construction and mining,1991-05-06,NaN,5.13
7,Chevron,NYSE,CVX,Petroleum industry,2008-02-19,Also 1930-07-18 to 1999-11-01,2.14
8,Cisco,NASDAQ,CSCO,Information technology,2009-06-08,NaN,0.83
9,Coca-Cola,NYSE,KO,Drink industry,1987-03-12,Also 1932-05-26 to 1935-11-20,0.88
10,Disney,NYSE,DIS,Broadcasting and entertainment,1991-05-06,NaN,1.55
11,Goldman Sachs,NYSE,GS,Financial services,2013-09-23,NaN,8.84
12,Home Depot,NYSE,HD,Home Improvement,1999-11-01,NaN,5.67
13,Honeywell,NASDAQ,HON,Conglomerate,2020-08-31,AlliedSignal and Honeywell,3.07
14,IBM,NYSE,IBM,Information technology,1979-06-29,Also 1932-05-26 to 1939-03-04,3.54
15,Johnson & Johnson,NYSE,JNJ,Pharmaceutical industry,1997-03-17,NaN,2.09
16,JPMorgan Chase,NYSE,JPM,Financial services,1991-05-06,NaN,3.67
17,McDonald's,NYSE,MCD,Food industry,1985-10-30,NaN,3.97
18,Merck,NYSE,MRK,Pharmaceutical industry,1979-06-29,NaN,1.35
19,Microsoft,NASDAQ,MSFT,Information technology,1999-11-01,NaN,5.68
20,Nike,NYSE,NKE,Clothing industry,2013-09-23,NaN,1.07
21,Nvidia,NASDAQ,NVDA,Information technology,2024-11-08,NaN,1.71
22,Procter & Gamble,NYSE,PG,Fast-moving consumer goods,1932-05-26,NaN,2.29
23,Salesforce,NYSE,CRM,Information technology,2020-08-31,NaN,4.70
24,Sherwin-Williams,NYSE,SHW,Specialty chemicals,2024-11-08,NaN,5.00
25,Travelers,NYSE,TRV,Insurance,2009-06-08,NaN,3.41
26,UnitedHealth Group,NYSE,UNH,Managed health care,2012-09-24,NaN,7.47
27,Verizon,NYSE,VZ,Telecommunications industry,2004-04-08,NaN,0.54
28,Visa,NYSE,V,Financial services,2013-09-23,NaN,4.70
29,Walmart,NYSE,WMT,Retailing,1997-03-17,NaN,1.35

str accessor

In [24]:
data1['Index weighting']=data1['Index weighting'].str.replace('%',"")

In [27]:
data1['Index weighting']=data1['Index weighting'].astype('float')

In [28]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Company          30 non-null     object
 1   Exchange         30 non-null     object
 2   Symbol           30 non-null     object
 3   Industry         30 non-null     object
 4   Date added       30 non-null     object
 5   Notes            5 non-null      object
 6   Index weighting  30 non-null     float64
dtypes: float64(1), object(6)
memory usage: 1.8+ KB

In [37]:
df3=pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             503 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    object
dtypes: int64(1), object(7)
memory usage: 31.6+ KB

In [38]:
df3['Founded']=df3['Founded'].str[:4]

In [35]:
l1=[]
for i in df3['Founded']:
    l1.append(i[:4])
df3['Founded']=l1
df3

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott Laboratories,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [39]:
df3['Founded']=df3['Founded'].astype('int')
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 503 entries, 0 to 502
Data columns (total 8 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Symbol                 503 non-null    object
 1   Security               503 non-null    object
 2   GICS Sector            503 non-null    object
 3   GICS Sub-Industry      503 non-null    object
 4   Headquarters Location  503 non-null    object
 5   Date added             503 non-null    object
 6   CIK                    503 non-null    int64
 7   Founded                503 non-null    int64
dtypes: int64(2), object(6)
memory usage: 31.6+ KB

In [ ]:
df3.drop('GICS Sub-Industry',axis=1)

In [47]:
df3.drop([2,3],axis=0,inplace=True)

In [48]:
df3

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
5,ADBE,Adobe Inc.,Information Technology,Application Software,"San Jose, California",1997-05-05,796343,1982
6,AMD,Advanced Micro Devices,Information Technology,Semiconductors,"Santa Clara, California",2017-03-20,2488,1969
7,AES,AES Corporation,Utilities,Independent Power Producers & Energy Traders,"Arlington, Virginia",1998-10-02,874761,1981
...,...,...,...,...,...,...,...,...
498,XYL,Xylem Inc.,Industrials,Industrial Machinery & Supplies & Components,"White Plains, New York",2011-11-01,1524472,2011
499,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
500,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
501,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [49]:
df=pd.read_csv('/Users/algo trading 2025/batch 31/9_data_analysis/sp500.csv')
df

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12   9.20
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology  145.30    NaN
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [51]:
df.dropna(axis=0)

                             Name                  Sector   Price    EPS
0                       Apple Inc  Information Technology  170.12   9.20
1                      Abbvie Inc             Health Care   93.29   5.31
2             Abbott Laboratories             Health Care   55.28   2.41
4                    Allergan Plc             Health Care  171.81  15.42
5    American International Group              Financials   59.50   2.51
..                            ...                     ...     ...    ...
97     Verizon Communications Inc      Telecommunications   45.85   3.75
98       Walgreens Boots Alliance        Consumer Staples   70.25   5.10
99          Wells Fargo & Company              Financials   54.02   4.14
100               Wal-Mart Stores        Consumer Staples   96.08   4.36
101              Exxon Mobil Corp                  Energy   80.31   3.56

[101 rows x 4 columns]

In [71]:
df.fillna(1,inplace=True)

In [54]:
df.ffill(axis=1)

                           Name                  Sector   Price    EPS
0                     Apple Inc  Information Technology  170.12    9.2
1                    Abbvie Inc             Health Care   93.29   5.31
2           Abbott Laboratories             Health Care   55.28   2.41
3                 Accenture Plc  Information Technology   145.3  145.3
4                  Allergan Plc             Health Care  171.81  15.42
..                          ...                     ...     ...    ...
97   Verizon Communications Inc      Telecommunications   45.85   3.75
98     Walgreens Boots Alliance        Consumer Staples   70.25    5.1
99        Wells Fargo & Company              Financials   54.02   4.14
100             Wal-Mart Stores        Consumer Staples   96.08   4.36
101            Exxon Mobil Corp                  Energy   80.31   3.56

[102 rows x 4 columns]

In [ ]:
df.bfill(axis=1)

NotImplementedError:

In [ ]:
len(df['Price'])

102

In [64]:

print("mean: ")
print(df["Price"].mean())

print("median: ")
print(df["Price"].median())

print("mode: ")
print(df["Price"].mode()[0])

print("minimum: ")
print(df["Price"].min())

print("maximum: ")
print(df["Price"].max())

print("variance: ")
print(df["Price"].var())

print("standard deviation: ")
print(df["Price"].std())

mean:
150.50068627450983
median:
88.295
mode:
12.11
minimum:
12.11
maximum:
1762.23
variance:
57969.4528539798
standard deviation:
240.768463163222

In [78]:
l2=[]
for i,j in zip(df['Price'],df['EPS']):
    l2.append(i+j)
df['new2']=l2
df

,Name,Sector,Price,EPS,new,new2
0,Apple Inc,Information Technology,170.12,9.20,Apple IncSector,179.32
1,Abbvie Inc,Health Care,93.29,5.31,Abbvie IncSector,98.60
2,Abbott Laboratories,Health Care,55.28,2.41,Abbott LaboratoriesSector,57.69
3,Accenture Plc,Information Technology,145.30,1.00,Accenture PlcSector,146.30
4,Allergan Plc,Health Care,171.81,15.42,Allergan PlcSector,187.23
...,...,...,...,...,...,...
97,Verizon Communications Inc,Telecommunications,45.85,3.75,Verizon Communications IncSector,49.60
98,Walgreens Boots Alliance,Consumer Staples,70.25,5.10,Walgreens Boots AllianceSector,75.35
99,Wells Fargo & Company,Financials,54.02,4.14,Wells Fargo & CompanySector,58.16
100,Wal-Mart Stores,Consumer Staples,96.08,4.36,Wal-Mart StoresSector,100.44
101,Exxon Mobil Corp,Energy,80.31,3.56,Exxon Mobil CorpSector,83.87